* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
  line-height: 18px;
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
  color: #262626;
  font-weight: 600;
}
ul {
  list-style: none;
}
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}

/* 以下のCSS定義はemotionに移行することで全て無くなるようにしましょう。 */

.flex-container {
}
.insta-card {
  
}
.insta-card-dark {
  
}
.insta-card-dark .commenter-name {
 
}

.card-header {
  
}
.poster-avatar {
  
}
.poster-avatar img {
  
}
.card-image {
  
}
.card-image img {
  
}
.card-main {
  
}
.card-main-icons {

}
.icons {
  
}
.card-main-icons ul>li {

}
.like-counts {
  
}
.comments {
  
}
.comments a {
}
.comment-box {
  
}
.post-date {
  
}

.theme-swither a.chosen {
  
}

ul.theme-swither > li {
  
}

.theme-swither a {

}

.theme-swither a:hover, .theme-swither a:active {
}